.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border: 1px solid gray;
  width: 70%;
  .form {
    width: 90%;
    align-content: flex-start;
    .identity {
      font-weight: bold;
      font-size: 25px;
    }
    .button {
      margin-top: 2vh;
      width: 100%;
    }
  }
}
